*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 
.container{
    min-width: 1100px;
    padding: 10px 0; 
} 
nav{
    height: 100%;
    margin-bottom: 20px;
    position: sticky;
    top: 2px;
    left:0;
    

}
.firsnav{
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0px 50px;
    
    height: 40px;
    background-color: rgba(209, 209, 207, 0.2);
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100% ;
}
.menu{
    display: none;

}

.second-nav{
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    left:0;
    right:0;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 4px 8px rgb(177, 176, 176);
    padding: 40px 50px;
    align-items: center;
    height: 60px;
    z-index: 9999;
}

.second-nav:hover{
    background-color: rgb(211, 192, 234);
    transition: 1.6s ease-in-out;
}
ul {
    list-style: none;
    display: flex;
    
}
a{
    text-decoration: none;
    color: rgb(45, 43, 70);
    margin-right: 10px;
    font-size: 18px;
    font-weight: bolder;
    
}
hr{
    width: 3px;
    height: 30px;
    border-right: 3px solid #c1bebe;
    color:#c1bebe;
}
.social-icons #icons{
    /* padding: 0.5 2px; */
    width: 2em;
    height: 2em;
    border-radius: 4px;
}

.fn{
    display: flex;
    gap:2px
}
.fn-content{
    display: flex;
    gap: 3em;
    align-items: center;
}

#btn{
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    position: relative;
    left: -10em;
    top: -0.5em;

}
#btn1{
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    
    

}
#btn1 i{
    padding: 0 15px;
}
#btn i{
    padding: 0 15px;
}
h3{
    font-size: 12px;
}










 button{
    border-style: none;
    padding: 5px 10px;
    border-radius: 6px;
    background-color: rgb(97, 97, 147);
    font-size: 20px;
    font-weight: lighter;
    color: #fff;
    margin-top: 20px;
    width: 4em;
    /* line-height: 1.5px; */
}
.section-content .sec1 .checks {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:2px;
}
.section-content .checks h2{
    text-align: right;
    line-height: 5px;
}

button:hover{
    transition: 1.5s ease-in-out;
    background-color: rgb(142, 6, 6);
    
}
span{
    /* background-color: rgb(144, 5, 5); */
    color:rgb(142, 6, 6);
}
/* img{
    width:60px;
    height: 65px;
} */
a:hover{
    font-size: x-large;
    font-weight: 700;
    color: orangered;
}

.sec2 img{
    width: 620px;
    height: 450px;
}
section{
    /* position: relative;
    top:200px; */
    /* background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../images/sergy.jpg); */
    background-image: url(../images/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center; 
    background-color: fff;
    height: 100vh;
    padding-top: 20px;
    position: relative;
    top: -20px;
}



section h1{
    color: rgb(252, 251, 250);
    font-weight: 800;
    font-size: 4em;
    line-height: 1em;
}
.section-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* height: 100%; */
    
}
.sec1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: left;
    text-align: justify;
}
.sec1 p{
    margin-top: 1.5em;
}


.section h2{
    text-align:center
}
article{
    background-color: rgba(241, 241, 185, 0.3);
    height: 70vh;
}
footer{
    background-image: url(../images/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    padding:20px 30px

}
.footer-content{
    display: flex;
    flex-direction: row;
    /* justify-items: center; */
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 70vh;
    /* padding: 0 20px; */
}
/* .footer-para{
    position: relative;
    top:-30px;
    line-height: 2em;
} */
.footer-para h1{
    margin-bottom: 20px;
}
.Link-popu h1{
    margin-bottom: 20px;
}
.Link-Quick h1{
    margin-bottom: 20px;
}

.Link-popu ul{
    display: flex;
    flex-direction: column;
    gap:25px;
}
/* .Link-popu h1{
    margin-bottom: 10px;
} */
.linkcontent{
    display: flex;
    gap:5px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    
}
.linkcontent a{
    color: azure;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.linkcontent a:hover{
    color: aquamarine;
    font-size: 14px;
}
.linkcontent i{
    color: azure;
    
    
}
.linkcontent i:hover{
    color: aquamarine;
    
}

   

.Link-Quick ul{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
/* .Link-Quick h1{
    margin-bottom: 10px;

} */
 /* .Link-conta{
    display: flex;
    flex-direction: column;
    gap: 25px;
    

} */
/* .Link-conta h1{
    margin-top: 10px;
} */
 .last-footer p{
    /* display: flex;
    flex-direction: column;
    margin: 20px auto; */
    text-align: center;
    position: relative;
    top:-5px;
    font-size: 14px;
    font-weight: bold;

} 

.contact{
    display: flex;
    align-items: center;
    
    gap: 8px;
}
.location-content{
    display:flex;
    flex-direction: column;
    position: relative;
    bottom: -10px;
    left:6px;
}

/* .location-content h2{
    font-size: 10px;
} */
#locate{
    width: 2em;
    height: 2em;
    border-radius: 4em;
}
.line{
    border-bottom: 2px solid #fff;
    width: 300px;
    display: flex;
    margin: 20px auto;
    position: relative;
    top:-7px
}

@media screen and (max-width:400px) {
    /* *{
        overflow: hidden;
    }
     */
    .container{
        min-width: 375px;
        /* display: block; */
        
    } 
    .link_bar ul li{
        display: none;
    }
    .menu{
        display: initial;
    
    }

     nav{

        margin-top: 10px;
        display: flex;
        flex-direction: column;
        height: 60px;
    
        
      
        
    
    }

    .firsnav{
    background-color: none;
    display: flex ;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: left;
    
        
    }
    nav .firsnav .fn-content{
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }
    hr{
        display: none;
    }
    .link_bar ul{
        flex-direction: column;
    }
    
    .second-nav{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10em;
        height: 40px;
       
    
       
    }
    
    #btn{
        display: none;
        position: relative;
        left:-60%;
        top: 80px;
        font-size: 12px;
        padding:0px 30px;
    }
    .second-nav ul{
        display: flex;
    }
    .link_bar{
        width: 100%;
        display: block;
        flex-direction: column;
    }

    a{
        text-decoration: none;
        color: rgb(45, 43, 70);
        margin-right: 10px;
        font-size: 18px;
        font-weight: bolder;
        
    }

    .second-nav:hover{
        background-color: rgb(211, 192, 234);
        transition: 1.6s ease-in-out;
    }
    section .section-content{
        
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center; 
        background-color: #5446ee;
        height: 100vh;
        padding: 8px;
        /* position: relative;
        top: -20px; */
    }

    section{
        position: relative;
        top:200px;
        /* background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../images/sergy.jpg); */
        background-image: url(../images/hero-bg.png);
        /* max-width: 400px; */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center; 
        
        height: 100vh;
        padding-top: 20px;
        /* position: relative;
        top: -20px; 
        z-index: 999;*/
        margin-top: 40px;
    }
    .section-content{
        display: contents;
        flex-direction: column;
        text-align: center;
        justify-content: center; 
        justify-items: center;
        height: 100%;
        

    }
    .section-content h1{
        color: rgb(252, 251, 250);
        font-weight: 800;
        font-size: 2.5em;
        line-height: 1em;
    }
    .section-content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* height: 100%; */
        
    }
    .sec1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-items: left;
        text-align: justify;
    }
    .sec1 p{
        margin-top: 1.5em;
    }
    
    
    .section h2{
        text-align:center
    }
    .sec2 img{
        width: 350px;
        height: 370px;
    }
    
    
    section h1{
        color: rgb(252, 251, 250);
        font-weight: 800;
        font-size: 4em;
        line-height: 1em;
    }
    .section-content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* height: 100%; */
        
    }




    footer{
        padding: 40px 20px;
        background-image: url(../images/footer-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height:160vh;
        /* display: block;
        flex-direction: column; */
        
    
    }
       .footer-content{
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: space-between;
        align-items: center;
        gap: 4px;
        
        padding: 0 20px;
    }
    /* .footer-para{
        position: relative;
        top:-30px;
        line-height: 2em;
    } */
    .footer-para h1{
        margin-bottom: 10px;
    }
    .Link-popu h1{
        margin-bottom: 10px;
    }
    .Link-Quick h1{
        margin-bottom: 10px;
    }
    
    .Link-popu ul{
        display: flex;
        flex-direction: column;
        gap:10px;
    }
    .Link-conta h1{
        font-size: 1.5em;

    }
    /* .Link-popu h1{
        margin-bottom: 10px;
    } */
    .linkcontent{
        display: flex;
        gap:5px;
        flex-direction: row;
        align-items: center;
        margin-bottom: 5px;
        
    }
    .linkcontent a{
        color: azure;
        font-size: 14px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .linkcontent a:hover{
        color: aquamarine;
        font-size: 14px;
    }
    .linkcontent i{
        color: azure;
        
        
    }
    .linkcontent i:hover{
        color: aquamarine;
        
    }
    
       
    
    .Link-Quick ul{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    
     
    
    .contact{
        display: flex;
        align-items: center;
        
        gap: 8px;
    }
    .location-content{
        display:flex;
        flex-direction: column;
        position: relative;
        bottom: -10px;
        left:6px;
    }
    .location-content h2{
        color: white;
    }
    
    /* .location-content h2{
        font-size: 10px;
    } */
    #locate{
        width: 2em;
        height: 2em;
        border-radius: 4em;
    }
    
    /* .line{
        border-bottom: 2px solid #fff;
        width: 400px;
        display: none;
        margin: 20px auto;
        position: relative;
        top:-7px
    } */

    /* .footer-content{
        flex-direction: column;
        justify-items: center;
        justify-content: center;

    } */
    /* footer{
         background-image: url(../images/footer-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
        background-color: #5446ee;

        height:100%;
        
    } */
    .last-footer{
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        text-align: center;
        position: relative;
        bottom:-32em;
        font-size: 14px;
        font-weight: bold;
    
    } 
    .last-footer p{
         display: flex;
        flex-direction: column;
        margin: 20px auto; 
        text-align: center;
        position: relative;
        top:-30px;
        font-size: 14px;
        font-weight: bold;
    
    
}
}



/* form{
    display: flex;
    flex-direction: column;
}
.form-control{
    margin-bottom:10px;
    margin-left: 10px;
    padding:10px 8px;
}
input{
    width: 300px;
    height: 30px;
}
textarea{
    width: 300px;
    height: 200px;
    margin-left: 20px;
} */