*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 
body{
    width: 100%;
    overflow-x: hidden;
}
.container{
    min-width: 1100px;
    padding: 10px 0; 
    /* overflow-x: hidden; */
} 

nav{
    margin:auto;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: sticky;
    top: 0;
    left:0;
    z-index: 999;
    background-color: bisque;
    

}
.firsnav{
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0px 50px;
    
    height: 40px;
    /* background-color: rgba(209, 209, 207, 0.2); */
    margin: 10px 0;
    

}
.menu{
    display: none;

}

.second-nav{
   
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding:0px 50px;
    box-shadow: 0 4px 10px rgb(186, 183, 183);
    height: 5em;
    background-color: rgba(248, 248, 245, 0.2); 
    /* margin: 20px 0px; */
    
    
}
.fn{font-size: 10px;
    display: flex;
    gap:3px; 
    align-items: center; 
    justify-items: center; 
}

.fn-content{
    display: flex;
    gap: 3em;
    align-items: center;
}
.firsnav .h3{ 
    margin-left: 4em;
}


/* .second-nav:hover{
    background-color: rgb(211, 192, 234);
    transition: 1.6s ease-in-out;
} */
 .link_bar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    justify-items: center;
    gap:1em

}
.link_bar ul{
    display: flex;
    justify-content: center;
    align-items: center;

} 
li{
    list-style: none;

    
}
a{
    text-decoration: none;
    color: rgb(45, 43, 70);
    margin-right: 10px;
    font-size: 18px;
    font-weight: bolder;
    
}
/* .line{
    display: flex;
    width: 8px;
    height: 20px;
    border-left: 3px solid #dc5c5c;
} */
.social-icons #icons{
    /* padding: 0.5 2px; */
    width: 2em;
    height: 2em;
    border-radius: 4px;
}



#btn{
    padding:20px;
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    position: relative;
    /* left: -10em; */
    top: -0.5em;

}
#btn1{
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    
    

}
#btn1 i{
    padding: 0 15px;
}
#btn i{
    padding: 0 15px;
}
h3{
    font-size: 12px;
}










 button{
    border-style: none;
    padding: 5px 10px;
    border-radius: 6px;
    background-color: rgb(97, 97, 147);
    font-size: 20px;
    font-weight: lighter;
    color: #fff;
    margin-top: 20px;
    width: 4em;
    /* line-height: 1.5px; */
}
section{
    /* position: relative;
    top:200px; */
    /* background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../images/sergy.jpg); */
    background-image: url(../images/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center; 
    background-color: fff;
    height: 100vh;
    padding:0 5em;
    
    /* position: relative;
    top: -20px; */
}



section h1{
    color: rgb(252, 251, 250);
    font-weight: 800;
    font-size: 3em;
    line-height: 1em;
}
.section-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* height: 100%; */
    
}
.sec1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: left;
    text-align: justify;
}
.sec1 p{
    margin-top: 1.5em;
}


.section h2{
    text-align:center
}
.section-content .sec1 .checks {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:2px;
}
.section-content .checks h2{
    text-align: right;
    line-height: 5px;
}

button:hover{
    transition: 1.5s ease-in-out;
    background-color: rgb(142, 6, 6);
    
}
span{
    /* background-color: rgb(144, 5, 5); */
    color:rgb(142, 6, 6);
}
/* img{
    width:60px;
    height: 65px;
} */
a:hover{
    font-size: x-large;
    font-weight: 700;
    color: orangered;
}

.sec2 img{
    width: 650px;
    height: 500px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: rgba(241, 241, 185, 0.3);
    height: 70%;
}
article p iframe{
    display: flex;
    flex-direction: row;
    background-color: rgba(241, 241, 185, 0.3);
    
}

/* p iframe{
    display: block;
} */
footer{
    background-image: url(../images/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    padding:20px 30px

}
.footer-content{
    display: flex;
    flex-direction: row;
    /* justify-items: center; */
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 70vh;
    /* padding: 0 20px; */
}
/* .footer-para{
    position: relative;
    top:-30px;
    line-height: 2em;
} */
.footer-para h1{
    margin-bottom: 20px;
}
.Link-popu h1{
    margin-bottom: 20px;
}
.Link-Quick h1{
    margin-bottom: 20px;
}

.Link-popu ul{
    display: flex;
    flex-direction: column;
    gap:25px;
}
/* .Link-popu h1{
    margin-bottom: 10px;
} */
.linkcontent{
    display: flex;
    gap:5px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    
}
.linkcontent a{
    color: azure;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.linkcontent a:hover{
    color: aquamarine;
    font-size: 14px;
}
.linkcontent i{
    color: azure;
    
    
}
.linkcontent i:hover{
    color: aquamarine;
    
}

   

.Link-Quick ul{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
/* .Link-Quick h1{
    margin-bottom: 10px;

} */
 /* .Link-conta{
    display: flex;
    flex-direction: column;
    gap: 25px;
    

} */
/* .Link-conta h1{
    margin-top: 10px;
} */
 .last-footer p{
    /* display: flex;
    flex-direction: column;
    margin: 20px auto; */
    text-align: center;
    position: relative;
    top:-5px;
    font-size: 14px;
    font-weight: bold;

} 

.contact{
    display: flex;
    align-items: center;
    
    gap: 8px;
}
.location-content{
    display:flex;
    flex-direction: column;
    position: relative;
    bottom: -10px;
    left:6px;
}

/* .location-content h2{
    font-size: 10px;
} */
#locate{
    width: 2em;
    height: 2em;
    border-radius: 4em;
}
.line{
    border-bottom: 2px solid #fff;
    width: 100%;
    display: flex;
    margin: 20px auto;
    position: relative;
    top:-7px
}

@media screen and (max-width: 768px) {
    body{
        font-size: 11px;
        
    }
    /* *{
        overflow-x: hidden;
    } */

    nav{
        display: block;
    }

    .lines{
        display: none;
    }
    .firsnav .fn-content{
        flex-direction: column;
        gap: 2px;
        height: 10px;
        font-size: 7px;
        justify-content: center;
        align-items: center;
        
    }
    i .fa-solid{
        font-size: 5px;
    }
     .second-nav{
        margin-top: 45px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-shadow: none;
        position: relative;


    }
     .menu{
        
        position:relative;
        left: -65em;

    }
    #btn{
        padding-top: ;
    }
    /* .sec2 img{
        width: 100px;
        height: 85px;
    } */
    /* .second-nav h1{
        justify-content: flex-start;
    } */
    .link_bar{
        flex-direction: column;
        display: none;
        position: absolute;
        top:50px;
        left:10px;
        background-color: rgb(234, 233, 231);
        box-shadow: 0 0 0 rgb(177, 176, 176);
        margin-top: 10px;

    

    }
    .link_bar.active{
        display: flex;
    }
    #btn{
        padding:10px;
        font-size: 13px;
        font-weight: bold;
        width: 150px;
        position: relative;
        /* left: -10em; */
        top: -0.5em;
    }
    .menu{
        display: block;
    }
   
    .link_bar ul{
        flex-direction: column;

    }
    .section-content{
        display: block;
    }
    .sec2 img{
        width: 350px;
        height: 260px;
        position: relative;
        left:-5em;
    }
   iframe{
    width: 400px;
   }
    footer .footer-content{
        /* display: block; */
        height: 100%;
        flex-direction: column;

    }
   
}